<h1>Por capital</h1>

<div class="row">
  <div class="col">
    <app-pais-input (ONEnter)="buscarCapi($event)" placehol="Por Capital" ></app-pais-input>
  </div>
</div>

<hr>

<div *ngIf="error; else nombre" class="alert alert-danger">
      <p> No se encontró ningun termino con {{termino}}</p>
</div>

<ng-template #nombre>
  <div class="row" *ngIf="!error&&capital.length!==0">
    <div class="col">

      <app-pais-tabla [paises]="capital"></app-pais-tabla>

    </div>
  </div>
</ng-template>

